.reviewDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.avatar {
    font-size: 1.5rem;
}

.authorInfo {
    margin-left: 1rem;
}

.replyButton {
    position: absolute;
    top: 24px;
    right: 16px;
    border-radius: 40px;
    background-color: #EEEEEE;
}

.replyIcon {
    transform: rotateY(180deg);
}

.reviewContent {
    margin-top: 4px;
}

.reviewContent.tablet {
    margin-top: 1rem;
    margin-left: 0;
}

.reviewContent.desktop {
    margin-left: 3rem;
}

.images {
    margin-top: 8px;
    margin-left: 3rem;
}

.images.tablet {
    margin-left: 0;
}

.imageContainer {
    display: flex;
    gap: 16px;
}



.card-container {
    position: relative;
    width: 100%;
    padding: 0 8px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
}

.reply-container {
    position: relative;
    margin-left: 20px;

}

.reply-container::before {
    content: '';
    position: absolute;
    left: -100px;
    top: -20px;
    width: 2px;
    height: calc(50% + 20px);
    background-color: #e8e8e8;
}

.reply-container::after {
    content: '';
    position: absolute;
    left: -100px;
    top: 50%;
    width: 100px;
    height: 2px;
    background-color: #e8e8e8;

}


@media screen and (max-width: 480px) {
    .reply-container::before {
        left: -30px;
    }

    .reply-container::after {
        left: -30px;
        width: 30px;
    }
}

@media screen and (min-width: 480px) {
    .reply-container::before {
        left: -40px;
    }

    .reply-container::after {
        left: -40px;
        width: 40px;
    }
}

@media screen and (min-width: 1300px) {
    .reply-container::before {
        left: -50px;
    }

    .reply-container::after {
        left: -50px;
        width: 50px;
    }
}

@media screen and (min-width: 1600px) {
    .reply-container::before {
        left: -100px;
    }

    .reply-container::after {
        left: -100px;
        width: 100px;
    }
}