/* ///////// */

.button-details{
    background-color: #FE802B;
    color: white;
    padding: 5px 20px;
  }

  .button-details:hover{
    background-color:#9f7b63 ;
  }

  .previous{
    color: #BFBFBF;
    font-family: Poppins;
    font-size: 14px;
    text-decoration: none;
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }


/*  */
.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.terms-title {
    font-size: 24px;
    font-weight: 600;
    color: #262626;
    text-align: center;
    margin-bottom: 15px;
}

.terms-text {
    font-size: 14px;
    color: #595959;
    margin-bottom: 20px;
    text-align: center;
}

.terms-list {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #333333;
    font-size: 14px;
    line-height: 1.6;
}

.terms-list li {
    margin-bottom: 10px;
}

.terms-list strong {
    font-weight: 600;
    color: #262626;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.checkbox-container label {
    font-size: 14px;
    color: #333333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .terms-container {
        padding: 15px;
    }

    .terms-title {
        font-size: 20px;
    }

    .terms-text {
        font-size: 13px;
    }

    .terms-list {
        font-size: 13px;
    }

    .checkbox-container label {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .terms-title {
        font-size: 18px;
    }

    .terms-text {
        font-size: 12px;
    }

    .terms-list {
        font-size: 12px;
    }

    .checkbox-container input[type="checkbox"] {
        transform: scale(1);
    }

    .checkbox-container label {
        font-size: 11px;
    }
}