.button-details{
    background-color: #FE802B;
    color: white;
    padding: 5px 20px;
  }

  .button-details:hover{
    background-color:#9f7b63 ;
  }

  .previous{
    color: #BFBFBF;
    font-family: Poppins;
    font-size: 14px;
    text-decoration: none;
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }