.buffet{
    width: 100%;
    height: 100vh;
    }
    .buffet-item{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .buffet-list{
        display: flex;
        justify-content: space-between;
        padding-left:5px ;
        padding-right: 5px;
    }
    
    
    .buffet-list .title h3 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
    
    .action{
        display: flex;
        gap: 10px;
    }
    
    
    .edit, .eye, .delete {
        font-size: 20px; 
        color: #1890ff;
        transition: color 0.3s ease;
    }
    
    
    .edit:hover, .eye:hover, .delete:hover {
        color: #40a9ff; 
    }
    
    
    .eye {
        color: #52c41a; 
    }
    
    .eye-invisible {
        color: #f5222d; 
    }
    
    
    .delete {
        color: #ff4d4f;
    }
    
    .delete:hover {
        color: #f5222d;
    }
    
    .modal-btn{
        display: flex;
        justify-content: end;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .modal-btn button {
        padding: 5px;
        border-radius: 4px;
        background: #e3b900;
        color: #ffffff;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }
    
    .pagination{
        display: flex;
        justify-content: end;
        margin-top: 20px;
    }
    
    .loading{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    