.restaurant-title{
    font-size: 24px;
    font-weight: 400;
    font-family: Poppins;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #262626;
}

.restaurant-paragraph{
    font-size: 14px;
    font-family: Poppins;
    margin-bottom: 20px;
    color: #595959;
}


.form-container {
   
    background-color: #F5F5F5;
  }
  
  .form-item {
    margin-bottom: 16px;
  }
  
  .form-item label {
    font-weight: 100;
    font-size: 10px;
    font-family: Poppins;
    margin-bottom: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 10px;
    margin-top: 7px;
  }
  


  .Input{
    background-color: #F5F5F5;
  }

  .Select{
    background-color: #F5F5F5;
  }
   
  .custom-select .ant-select-selector {
    background-color: #F5F5F5 !important;
  }

  :where(.css-dev-only-do-not-override-1x0dypw).ant-select-single.ant-select-lg .ant-select-selector .ant-select-selection-search {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: #F5F5F5 !important;
}

.star{
  color: red;
}

  
  
  @media (max-width: 768px) {
    .form-footer {
      flex-direction: column;
      gap: 10px;
    }
  }


  