.menu-title-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.title{
    width: 50%;
}
.price{
    width: 50%;
}


.ql-container {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 300px; 
    max-height: 100vh;
    overflow-y: auto; 
    margin: 0px;
    position: relative;
}

.image-upload{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}