@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}
body {
    -webkit-tap-highlight-color: transparent;
} 


:root {
    --primary-color: #ffb62f; /* Primary color */
    --secondary-color: #e3bd76; /* Secondary color */
}

.ant-input-outlined{
    border-color: #ffb62f;
}
.ant-select-outlined{
    border-color: #ffb62f;
}
.ant-select-single{
    border-color: #ffb62f;
}