.main-layout {
  min-height: 100vh;
}

.site-layout {
  transition: all 0.2s;
  margin-top: 64px;
}

.site-layout.with-sidebar {
  margin-left: 256px;
}

.site-content {
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  min-height: calc(100vh - 112px);
}

